{% include "recipes/partials/head.html" %}

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}
   
    <div class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://placehold.co/1280x720/192946/00000.png" alt="Temporario">
                </div>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corrupti consectetur necessitatibus temporibus incidunt. Facilis nostrum sunt illo officia? Rerum, sequi! Dicta sequi minima necessitatibus placeat obcaecati ex quae soluta.</h5>
            </div>
        </div>
    </div>

</body>

</html>